body{
    background-color: #000000b3;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.buttons{
    button{
        width: 49%;
    }
}
@mixin inputs{
    background-color: #777 !important;
    color: white !important;
    
}
input::placeholder{
    color: rgb(173, 173, 192) !important
}
input{
    @include inputs();
}
.alert{
    display: none;
}
@media (max-width: 768px) {
    table{
        font-size: 10px;
        // width: 100%;
    }
    table th,
    table td{
        padding: 3px !important;
    }
    table .btn{
        padding: 1px !important;
        font-size: 9px !important;
    }
    .alert {
        font-size: 14px;
        padding: 5px;
    }
    body {
        font-size: 14px;
    }
    .buttons {
        flex-direction: column;
    }
    .buttons .btn{
        width: 100%;
        margin-bottom: 10px;
    }
}